SERPAPI_API_KEY=
SERPAPI_CURRENCY=MXN
SERPAPI_GL=mx
SERPAPI_HL=es
SERPAPI_TRAVEL_CLASS=1
SERPAPI_SHOW_HIDDEN=true
SERPAPI_DEEP_SEARCH=true
SERPAPI_NO_CACHE=true
GOOGLE_MAPS_API_KEY=
BREVO_API_KEY=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
MAIL_FROM_EMAIL=medinova.cuu@gmail.com
MAIL_FROM_NAME=Biosystems Travel Ops
MAIL_SUPPORT_EMAIL=ing.biom.ricardomiranda@gmail.com
TRAVEL_REQUEST_TO_EMAIL=rmontanez@biosystems.com.mx
TRAVEL_REQUEST_TO_NAME=Sofia Ceballos
BREVO_SANDBOX=false
SUPREMO_API_KEY=
SUPREMO_SHARED_PASSWORD=
